@import "colors";

header#page-header {
  color: $secondary-color;
  background: $primary-color;
  padding: 5px;

	h1 {
	  text-align: center;
	  text-transform: uppercase;
	}

}

aside#sidebar {
  background: $secondary-color;
  width: 200px;
  float:right;
  padding: 5px;
}

footer#page-footer {
  background: $secondary-color;
  color: $primary-color;
  padding: 5px;
}



